doctype html
html
  head
    title proton blog
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/bundle.css")

  body
    #wrapper
      .row.justify-content-center
        .col-sm-12.col-md-6
          each media in medias
            if media.isHidden
              - continue
            .container(class=`container_${media.type}` title=media.date)
              a(name=`year_${media.year}`)
          //-     - if media["type"] == "video"
          //-       video src=media["url"] controls type="video/mp4" preload="metadata"
          //-     - if media["type"] == "audio"
          //-       audio src=media["url"] controls type="audio/mp3" preload="metadata"
          //-     - if media["type"] == "photo"
          //-       a href=media["url"] target="_blank"
          //-         img src=media["preview"]

      ul.ruler
        each year in years
          li
            a(href=`#year_${year}`)
              = year

    script(type="javascript" src="/bundle.js")
    
